name: "Nix Flake"
on:
  pull_request:
  push:
    branches: [master]
jobs:
  nix:
    strategy:
      fail-fast: true
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    name: Nix on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      # duckdb-ffi is marked as broken, and thus we cannot build
      # beam-duckdb via nix at this time
      - name: Disable beam-duckdb
        run: |
          # We must specify a backup extension on MacOS
          sed -i.bak '/beam-duckdb/d' cabal.project && rm cabal.project.bak
      - name: "Check `nix develop` shell"
        run: nix develop --check
      - name: "Check `nix develop` shell can run command"
        run: nix develop --command "true"
      - run: nix build
      - run: nix flake check
